$blue: rgb(149, 225, 211);
$yellow: rgb(252, 227, 138);
$red: rgb(243, 129, 129);
$main-fonts-color: rgb(153, 153, 153);
$secondary-fonts-color: rgb(51, 51, 51);
$main-fonts: "Montserrat";
$secondary-fonts: "Roboto";
$title-fonts:"Kaushan Script";